1.Using the same Dmart file, calculate the weekly returns for the entire year 

2.Populate a table of returns with week number of month(1,2,3,4,5) and month name        

Please note:
1.Week starts from Monday
2. Use while loop to loop through the dataframe and not any form of groupby, directly or indirectly
3. You buy at the open of the first day of the week and sell at the close of the last day of week
4. If the end of month falls on Wednesday, you exit your position on Wednesday close. New week of the new month starts from Thursday

In [6]:
import warnings
warnings.simplefilter(action='ignore',category=FutureWarning)

In [7]:
import pandas as pd
inputt=r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(inputt)

In [8]:
from datetime import datetime
df['Month']=pd.to_datetime(df['Date/Time']).dt.month
df['Date/Time']=pd.to_datetime(df['Date/Time']).dt.date
display(df)

           Ticker   Date/Time     Open      Low     High    Close  Month
0    DMART.EQ-NSE  2020-01-01  1849.70  1820.00  1867.00  1828.50      1
1    DMART.EQ-NSE  2020-01-02  1831.00  1815.00  1854.85  1824.20      1
2    DMART.EQ-NSE  2020-01-03  1827.00  1827.00  1853.00  1843.55      1
3    DMART.EQ-NSE  2020-01-06  1827.00  1780.00  1829.00  1789.90      1
4    DMART.EQ-NSE  2020-01-07  1805.00  1805.00  1837.50  1815.75      1
..            ...         ...      ...      ...      ...      ...    ...
247  DMART.EQ-NSE  2020-12-24  2661.85  2604.80  2700.00  2673.10     12
248  DMART.EQ-NSE  2020-12-28  2685.95  2655.00  2698.95  2678.00     12
249  DMART.EQ-NSE  2020-12-29  2690.00  2645.00  2694.70  2665.70     12
250  DMART.EQ-NSE  2020-12-30  2666.20  2642.35  2725.00  2680.30     12
251  DMART.EQ-NSE  2020-12-31  2691.00  2670.00  2780.00  2763.60     12

[252 rows x 7 columns]

In [82]:
k=0
month=1
close=[]
while(k<=len(df)):
    week_count=0
    for i,j in df.iterrows(): 
        if(df.loc[i,'Month']==month):
            if(df.loc[i,'Month']<12):
                if(df.loc[i,'Date/Time'].weekday()==4 or df.loc[i+1,'Month']==month+1):
                    print(df.loc[i,'Date/Time'])
                    close.append(df.loc[i,'Close'])
                    week_count+=1
                    print("Week count",week_count)
                    #print(k)
                    k+=1
                elif(df.loc[i,'Date/Time'].weekday()==3):
                    if(df.loc[i+1,'Date/Time'].weekday()==4):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        close.append(df.loc[i,'Close'])
                        week_count+=1
                        print("week Count",week_count)
                        k+=1
                if(df.loc[i,'Date/Time'].weekday()==5):
                    print(df.loc[i,'Date/Time'])
                    close.append(df.loc[i,'Date/Time'])
                    week_count+=1
                    print("Week Count",week_count)
                    k+=1
            if(df.loc[i,'Month']==12):
                if(df.loc[i,'Date/Time'].weekday()==4 or i==251):
                    print(df.loc[i,'Date/Time'])
                    close.append(df.loc[i,'Open'])
                    week_count+=1
                    print("Week count",week_count)
                    #print(k)
                    k+=1
                if(df.loc[i,'Date/Time'].weekday()==3 and i<251):
                    if(df.loc[i+1,'Date/Time'].weekday()==4):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        close.append(df.loc[i,'Close'])
                        week_count+=1
                        print("Week count",week_count)
                        k+=1
                    
    k+=1
    month+=1

2020-01-03
Week count 1
2020-01-10
Week count 2
2020-01-17
Week count 3
2020-01-24
Week count 4
2020-01-31
Week count 5
2020-02-01
Week Count 1
2020-02-07
Week count 2
2020-02-14
Week count 3
2020-02-20
week Count 4
2020-02-28
Week count 5
2020-03-06
Week count 1
2020-03-13
Week count 2
2020-03-20
Week count 3
2020-03-27
Week count 4
2020-03-31
Week count 5
2020-04-03
Week count 1
2020-04-09
week Count 2
2020-04-17
Week count 3
2020-04-24
Week count 4
2020-04-30
Week count 5
2020-05-08
Week count 1
2020-05-15
Week count 2
2020-05-22
Week count 3
2020-05-29
Week count 4
2020-06-05
Week count 1
2020-06-12
Week count 2
2020-06-19
Week count 3
2020-06-26
Week count 4
2020-06-30
Week count 5
2020-07-03
Week count 1
2020-07-10
Week count 2
2020-07-17
Week count 3
2020-07-24
Week count 4
2020-07-31
Week count 5
2020-08-07
Week count 1
2020-08-14
Week count 2
2020-08-21
Week count 3
2020-08-28
Week count 4
2020-08-31
Week count 5
2020-09-04
Week count 1
2020-09-11
Week count 2
2020-09-18
Week count 3
2020-09-25
Week count 4
2020-09-30
Week count 5
2020-10-01
week Count 1
2020-10-09
Week count 2
2020-10-16
Week count 3
2020-10-23
Week count 4
2020-10-30
Week count 5
2020-11-06
Week count 1
2020-11-13
Week count 2
2020-11-14
Week Count 3
2020-11-20
Week count 4
2020-11-27
Week count 5
2020-12-04
Week count 1
2020-12-11
Week count 2
2020-12-18
Week count 3
2020-12-24
Week count 4
2020-12-31
Week count 5

In [86]:
print(len(close))
print(close)

59
[1843.55, 1876.95, 1990.55, 1948.6, 2133.95, datetime.date(2020, 2, 1), 2287.2, 2408.35, 2462.65, 2323.95, 2242.15, 2101.0, 1916.1, 2079.7, 2187.5, 2066.95, 2392.65, 2212.1, 2310.5, 2383.65, 2255.0, 2333.8, 2398.3, 2269.35, 2499.0, 2397.8, 2363.15, 2294.4, 2317.15, 2290.15, 2322.7, 1989.75, 2031.4, 2063.45, 2138.4, 2178.0, 2259.45, 2319.4, 2251.25, 2251.45, 2239.35, 2149.05, 2102.7, 2203.15, 2184.8, 2057.6, 1984.2, 2116.55, 2239.9, 2294.6, 2383.05, datetime.date(2020, 11, 14), 2382.6, 2289.2, 2469.95, 2647.0, 2574.0, 2673.1, 2691.0]

In [84]:
k=0
month=1
open1=[]
while(k<=len(df)):
    week_count=0
    for i,j in df.iterrows(): 
        if(df.loc[i,'Month']==month):
            if(df.loc[i,'Month']>1):
                if(df.loc[i,'Date/Time'].weekday()==0 or df.loc[i-1,'Month']==month-1):
                    print(df.loc[i,'Date/Time'])
                    open1.append(df.loc[i,'Open'])
                    week_count+=1
                    print("Week count",week_count)
                    #print(k)
                    k+=1
                    
                elif(df.loc[i,'Date/Time'].weekday()==1):
                    if(df.loc[i-1,'Date/Time'].weekday()==0):
                        pass
                    else:
                        print(df.loc[i,'Date/Time'])
                        open1.append(df.loc[i,'Open'])
                        week_count+=1
                        print("week Count",week_count)
                        k+=1
                        
                if(df.loc[i,'Date/Time'].weekday()==5):
                    print(df.loc[i,'Date/Time'])
                    open1.append(df.loc[i,'Open'])
                    week_count+=1
                    print("Week count",week_count)
                    k+=1
               
            if(df.loc[i,'Month']==1):
                if(df.loc[i,'Date/Time'].weekday()==0 or i==0):
                    print(df.loc[i,'Date/Time'])
                    open1.append(df.loc[i,'Open'])
                    week_count+=1
                    print("Week count",week_count)
                    #print(k)
                    k+=1
    k+=1
    month+=1

2020-01-01
Week count 1
2020-01-06
Week count 2
2020-01-13
Week count 3
2020-01-20
Week count 4
2020-01-27
Week count 5
2020-02-01
Week count 1
2020-02-01
Week count 2
2020-02-03
Week count 3
2020-02-10
Week count 4
2020-02-17
Week count 5
2020-02-24
Week count 6
2020-03-02
Week count 1
2020-03-09
Week count 2
2020-03-16
Week count 3
2020-03-23
Week count 4
2020-03-30
Week count 5
2020-04-01
Week count 1
2020-04-07
week Count 2
2020-04-13
Week count 3
2020-04-20
Week count 4
2020-04-27
Week count 5
2020-05-04
Week count 1
2020-05-11
Week count 2
2020-05-18
Week count 3
2020-05-26
week Count 4
2020-06-01
Week count 1
2020-06-08
Week count 2
2020-06-15
Week count 3
2020-06-22
Week count 4
2020-06-29
Week count 5
2020-07-01
Week count 1
2020-07-06
Week count 2
2020-07-13
Week count 3
2020-07-20
Week count 4
2020-07-27
Week count 5
2020-08-03
Week count 1
2020-08-10
Week count 2
2020-08-17
Week count 3
2020-08-24
Week count 4
2020-08-31
Week count 5
2020-09-01
Week count 1
2020-09-07
Week count 2
2020-09-14
Week count 3
2020-09-21
Week count 4
2020-09-28
Week count 5
2020-10-01
Week count 1
2020-10-05
Week count 2
2020-10-12
Week count 3
2020-10-19
Week count 4
2020-10-26
Week count 5
2020-11-02
Week count 1
2020-11-09
Week count 2
2020-11-14
Week count 3
2020-11-17
week Count 4
2020-11-23
Week count 5
2020-12-01
Week count 1
2020-12-07
Week count 2
2020-12-14
Week count 3
2020-12-21
Week count 4
2020-12-28
Week count 5

In [85]:
print(len(open1))
print(open1)

60
[1849.7, 1827.0, 1925.0, 2000.0, 1945.5, 2120.0, 2120.0, 2084.0, 2287.2, 2354.5, 2448.8, 2335.0, 2185.0, 1995.95, 1820.3, 2079.7, 2218.0, 2090.1, 2320.0, 2229.95, 2300.0, 2310.2, 2280.0, 2333.0, 2339.0, 2320.1, 2520.0, 2373.0, 2366.0, 2294.4, 2325.0, 2296.0, 2210.05, 1979.9, 2044.0, 2068.7, 2138.4, 2181.0, 2269.95, 2298.9, 2244.0, 2270.0, 2250.0, 2175.0, 2110.9, 2210.0, 2192.95, 2072.0, 1969.05, 2120.0, 2240.0, 2306.05, 2405.0, 2374.15, 2361.1, 2330.0, 2441.9, 2715.0, 2645.0, 2685.95]

In [81]:
for i in range(len(close)):
    print(close[i]-open1[i])

-6.150000000000091
49.950000000000045
65.54999999999995
-51.40000000000009
188.44999999999982
215.14999999999964
276.6999999999998
-21.0
-15.5
-147.54999999999973
-127.94999999999982
-229.5999999999999
83.39999999999986
367.20000000000005
-47.600000000000364
309.9500000000003
41.84999999999991
37.44999999999982
127.40000000000009
-68.94999999999982
52.5
84.75
-37.20000000000027
215.75
92.30000000000018
-96.34999999999991
-70.90000000000009
-33.25
-0.7999999999997272
33.34999999999991
-333.25
-202.54999999999973
44.44999999999982
112.30000000000018
84.84999999999991
142.94999999999982
129.6500000000001
0.9499999999998181
0.1999999999998181
-2.25
-112.34999999999991
-60.0
105.70000000000027
76.40000000000009
-127.20000000000027
-126.24999999999977
113.95000000000027
145.5999999999999
150.3499999999999
177.30000000000018
56.75
-142.95000000000027
109.54999999999973
220.30000000000018
47.55000000000018
1.150000000000091
8.599999999999909

In [ ]:
x = [1,2,4]