Using the Dmart csv which contains the OHLC data for Dmart for last 1 year, perform the following things in python:

1. Calculate the ROC of each day if we buy at open price and sell at close price and create a new dataframe(column) of the same
2. Calculate the total ROC of all the days combined
3. In a new dataframe named (type of trade), calculate if the the trade was winning trade(can be represented as 1) or losing trade (can be represented as 0)
 ( if roc>0, then it's a winning trade, otherwise losing trade)
4. Calculate the total number of winning trades and losing trades 
5. Print step 2, step 4, and the final dataframe along with newly added columns

In [14]:
import pandas as pd
Input = r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(Input)

Here, the input path for the csv file will be different.

In [15]:
df = pd.read_csv(r'C:\Users\admin\Desktop\Dmart.csv')

In [16]:
#print(df)

In [17]:
df['ROC']=((df['Close']-df['Open'])/df['Open'])*100

In [18]:
print(df)

           Ticker   Date/Time     Open      Low     High    Close       ROC
0    DMART.EQ-NSE      1/1/20  1849.70  1820.00  1867.00  1828.50 -1.146132
1    DMART.EQ-NSE      1/2/20  1831.00  1815.00  1854.85  1824.20 -0.371382
2    DMART.EQ-NSE      1/3/20  1827.00  1827.00  1853.00  1843.55  0.905857
3    DMART.EQ-NSE      1/6/20  1827.00  1780.00  1829.00  1789.90 -2.030651
4    DMART.EQ-NSE      1/7/20  1805.00  1805.00  1837.50  1815.75  0.595568
..            ...         ...      ...      ...      ...      ...       ...
247  DMART.EQ-NSE  12/24/2020  2661.85  2604.80  2700.00  2673.10  0.422638
248  DMART.EQ-NSE  12/28/2020  2685.95  2655.00  2698.95  2678.00 -0.295985
249  DMART.EQ-NSE  12/29/2020  2690.00  2645.00  2694.70  2665.70 -0.903346
250  DMART.EQ-NSE  12/30/2020  2666.20  2642.35  2725.00  2680.30  0.528843
251  DMART.EQ-NSE  12/31/2020  2691.00  2670.00  2780.00  2763.60  2.697882

[252 rows x 7 columns]

In [6]:
#print(df['ROC'].sum(axis=0))

In [7]:
#display(df)

In [8]:
df.loc[df['ROC']<=0,'Type Of Trade']='0'
df.loc[df['ROC']>0,'Type Of Trade']='1'

In [9]:
#display(df)

In [10]:
#df.loc[df['Type Of Trade'] == "1", 'Type Of Trade'].count()

In [11]:
#df.loc[df['Type Of Trade'] == "0", 'Type Of Trade'].count()

In [12]:
display(df)
print("Total ROC combined is",df['ROC'].sum(axis=0))
print("Number of winners",df.loc[df['Type Of Trade'] == "1", 'Type Of Trade'].count())
print("Number of losers",df.loc[df['Type Of Trade'] == "0", 'Type Of Trade'].count())

,Ticker,Date/Time,Open,Low,High,Close,ROC,Type Of Trade
0,DMART.EQ-NSE,1/1/20,1849.70,1820.00,1867.00,1828.50,-1.146132,0
1,DMART.EQ-NSE,1/2/20,1831.00,1815.00,1854.85,1824.20,-0.371382,0
2,DMART.EQ-NSE,1/3/20,1827.00,1827.00,1853.00,1843.55,0.905857,1
3,DMART.EQ-NSE,1/6/20,1827.00,1780.00,1829.00,1789.90,-2.030651,0
4,DMART.EQ-NSE,1/7/20,1805.00,1805.00,1837.50,1815.75,0.595568,1
...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,12/24/2020,2661.85,2604.80,2700.00,2673.10,0.422638,1
248,DMART.EQ-NSE,12/28/2020,2685.95,2655.00,2698.95,2678.00,-0.295985,0
249,DMART.EQ-NSE,12/29/2020,2690.00,2645.00,2694.70,2665.70,-0.903346,0
250,DMART.EQ-NSE,12/30/2020,2666.20,2642.35,2725.00,2680.30,0.528843,1
251,DMART.EQ-NSE,12/31/2020,2691.00,2670.00,2780.00,2763.60,2.697882,1

Total ROC combined is 39.55490901534974
Number of winners 120
Number of losers 132

In [13]:
df.to_csv(r'C:\Users\admin\Desktop\Dmart_Assignment1.csv',index=False)