In [140]:
import pandas as pd
Input = r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(Input)

Here, the input path for the csv file will be different.

In [141]:
df = pd.read_csv(r'C:\Users\admin\Desktop\Dmart.csv')

In [142]:
#print(df)

In [143]:
df['ROC']=((df['Close']-df['Open'])/df['Close'])*100

In [144]:
#print(df)

In [145]:
#print(df['ROC'].sum(axis=0))

In [146]:
#display(df)

In [147]:
df.loc[df['ROC']<=0,'Type Of Trade']='0'
df.loc[df['ROC']>0,'Type Of Trade']='1'

In [148]:
#display(df)

In [149]:
#df.loc[df['Type Of Trade'] == "1", 'Type Of Trade'].count()

In [150]:
#df.loc[df['Type Of Trade'] == "0", 'Type Of Trade'].count()

In [151]:
display(df)
print("Total ROC combined is",df['ROC'].sum(axis=0))
print("Number of winners",df.loc[df['Type Of Trade'] == "1", 'Type Of Trade'].count())
print("Number of losers",df.loc[df['Type Of Trade'] == "0", 'Type Of Trade'].count())

,Ticker,Date/Time,Open,Low,High,Close,ROC,Type Of Trade
0,DMART.EQ-NSE,1/1/20,1849.70,1820.00,1867.00,1828.50,-1.159420,0
1,DMART.EQ-NSE,1/2/20,1831.00,1815.00,1854.85,1824.20,-0.372766,0
2,DMART.EQ-NSE,1/3/20,1827.00,1827.00,1853.00,1843.55,0.897724,1
3,DMART.EQ-NSE,1/6/20,1827.00,1780.00,1829.00,1789.90,-2.072741,0
4,DMART.EQ-NSE,1/7/20,1805.00,1805.00,1837.50,1815.75,0.592042,1
...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,12/24/2020,2661.85,2604.80,2700.00,2673.10,0.420860,1
248,DMART.EQ-NSE,12/28/2020,2685.95,2655.00,2698.95,2678.00,-0.296863,0
249,DMART.EQ-NSE,12/29/2020,2690.00,2645.00,2694.70,2665.70,-0.911580,0
250,DMART.EQ-NSE,12/30/2020,2666.20,2642.35,2725.00,2680.30,0.526061,1
251,DMART.EQ-NSE,12/31/2020,2691.00,2670.00,2780.00,2763.60,2.627008,1

Total ROC combined is 26.80441118358856
Number of winners 120
Number of losers 132

In [152]:
df.to_csv(r'C:\Users\admin\Desktop\Dmart_Assignment1.csv',index=False)