Step 1: Download the F&O Bhavcopy file from the following Link using a date Range option using your code: https://www1.nseindia.com/products/content/derivatives/equities/archieve_fo.htm

Step 2: The program should ask the user to input a date range( Start and End date) : Once the date input is taken from the user, the program will run and download the bhavcopies for all the dates in the chosen date range.

The files should all be downloaded in one common folder labelled: "BHAVCOPIES": On  your Desktop

Step 3: Finally all the saved files should be combined into one final CSV file

Step 4: Once the file has been combined, We would like the following things:
            a. Take a user Input to enter a symbol name along with start date and end date
            b. Display Following Statistics for that symbol : 1. (Open(start date) - Close(end date))  2. Max Open Interest 
3.Average Open Interest 4. % Change in relation to previous day( Close - Previous Day Close)          

Important:
1. Since these bhavcopy files are zipped, the program will have to automatically unzip and save each file individually

In [2]:
import requests
import datetime 
from zipfile import ZipFile
import pandas as pd
import os
import glob


extension='csv'

start_date=input('Enter Start Date (in DD-MM-YYYY) ')
end_date=input('Enter End Date (in DD-MM-YYYY) ')
start_date1 = datetime.datetime.strptime(start_date,"%d-%m-%Y").date()
end_date1 = datetime.datetime.strptime(end_date,"%d-%m-%Y").date()
diff=end_date1-start_date1
delta = datetime.timedelta(days=1)
path=r'C:\Users\admin\Desktop\Bhavcopies'
while(start_date1<=end_date1):
    if(start_date1.weekday()<5):
        #print(start_date1)
        url = r'https://www1.nseindia.com/content/historical/DERIVATIVES/'+start_date1.strftime("%Y")+'/'+start_date1.strftime("%b").upper()+'/fo'+start_date1.strftime("%d%b%Y").upper()+'bhav.csv.zip'
        #print(url)
        req=requests.get(url)
        filename=url.split('/')[-1]
        print(filename)
        with open(path+'/'+filename,'wb') as output_file:
            output_file.write(req.content)
        with ZipFile(path+'/'+filename,"r") as zip_ref:
            zip_ref.extractall()
        start_date1+=delta
    else:
        start_date1+=delta

files = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv=pd.concat([pd.read_csv(f) for f in files])
combined_csv.to_csv("Combined.csv",index=False)

Enter Start Date (in DD-MM-YYYY) 06-06-2022
Enter End Date (in DD-MM-YYYY) 10-06-2022
fo06JUN2022bhav.csv.zip
fo07JUN2022bhav.csv.zip
fo08JUN2022bhav.csv.zip
fo09JUN2022bhav.csv.zip
fo10JUN2022bhav.csv.zip

In [3]:
import warnings
warnings.simplefilter(action='ignore',category=FutureWarning)
df = pd.read_csv(r'Combined.csv')
display(df)

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,30-Jun-2022,0.0,XX,35203.30,35527.00,35141.00,35399.55,35399.55,132663,1172985.74,2403450,-37150,06-JUN-2022,NaN
1,FUTIDX,BANKNIFTY,28-Jul-2022,0.0,XX,35333.05,35589.95,35213.25,35470.85,35470.85,4747,42039.68,226650,9225,06-JUN-2022,NaN
2,FUTIDX,BANKNIFTY,25-Aug-2022,0.0,XX,35382.15,35700.00,35324.55,35582.60,35582.60,1474,13094.87,39150,1725,06-JUN-2022,NaN
3,FUTIDX,FINNIFTY,28-Jun-2022,0.0,XX,16395.00,16395.00,16341.05,16367.10,16367.10,12,78.60,1120,40,06-JUN-2022,NaN
4,FUTIDX,FINNIFTY,26-Jul-2022,0.0,XX,16397.95,16407.45,16394.60,16407.45,16407.45,3,19.68,480,80,06-JUN-2022,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317978,OPTSTK,ZYDUSLIFE,25-Aug-2022,480.0,PE,0.00,0.00,0.00,104.25,117.15,0,0.00,0,0,10-JUN-2022,NaN
317979,OPTSTK,ZYDUSLIFE,25-Aug-2022,485.0,PE,0.00,0.00,0.00,108.80,121.95,0,0.00,0,0,10-JUN-2022,NaN
317980,OPTSTK,ZYDUSLIFE,25-Aug-2022,490.0,PE,0.00,0.00,0.00,113.40,126.75,0,0.00,0,0,10-JUN-2022,NaN
317981,OPTSTK,ZYDUSLIFE,25-Aug-2022,495.0,PE,0.00,0.00,0.00,118.05,131.60,0,0.00,0,0,10-JUN-2022,NaN
317982,OPTSTK,ZYDUSLIFE,25-Aug-2022,500.0,PE,0.00,0.00,0.00,122.75,136.45,0,0.00,0,0,10-JUN-2022,NaN

In [35]:
symbol = input('Enter Symbol ')
ins = input('Enter Instrument ')
expiry = input('Enter Expiry ')
if(ins!="FUTIDX"):
    strike = float(input('Enter Strike Price '))
    option = input('Enter Option Type (XX/CE/PE) ')
start=input('Enter Start Date ')
end=input('Enter End Date ')
start = datetime.datetime.strptime(start,"%d-%m-%Y")
end = datetime.datetime.strptime(end,"%d-%m-%Y")
expiry=datetime.datetime.strptime(expiry,"%d-%m-%Y")
df['EXPIRY_DT']=pd.to_datetime(df['EXPIRY_DT'])
df['Date']=pd.to_datetime(df['TIMESTAMP'])
#print(df['Date'])

if(ins=='OPTIDX'):
    df_filter = df[(df['SYMBOL']==symbol) & (df['INSTRUMENT']==ins) & (df['EXPIRY_DT']==expiry) & (df['STRIKE_PR']==strike) & (df['OPTION_TYP']==option) & ((df['Date']>=start) & (df['Date']<=end))]
if(ins=='FUTIDX'):
    df_filter = df[(df['SYMBOL']==symbol) & (df['INSTRUMENT']==ins) & (df['EXPIRY_DT']==expiry) & ((df['Date']>=start) & (df['Date']<=end))]
df_filter=df_filter.reset_index()
display(df_filter)

Enter Symbol BANKNIFTY
Enter Instrument FUTIDX
Enter Expiry 30-06-2022
Enter Start Date 06-06-2022
Enter End Date 09-06-2022

,index,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15,Date
0,0,FUTIDX,BANKNIFTY,2022-06-30,0.0,XX,35203.30,35527.0,35141.00,35399.55,35399.55,132663,1172985.74,2403450,-37150,06-JUN-2022,NaN,2022-06-06
1,63555,FUTIDX,BANKNIFTY,2022-06-30,0.0,XX,35149.15,35270.0,34916.00,35091.20,35091.20,148418,1301316.14,2425075,21625,07-JUN-2022,NaN,2022-06-07
2,127166,FUTIDX,BANKNIFTY,2022-06-30,0.0,XX,35199.95,35555.6,34891.05,35010.75,35010.75,208199,1831382.32,2410825,-14250,08-JUN-2022,NaN,2022-06-08
3,190757,FUTIDX,BANKNIFTY,2022-06-30,0.0,XX,34810.00,35196.4,34735.00,35131.25,35131.25,138947,1213520.47,2319825,-91000,09-JUN-2022,NaN,2022-06-09

In [39]:
for i,j in df_filter.iterrows():
    if(df_filter.loc[i,'Date']==start):
        print("Open as on Start Date ",df_filter.loc[i,'OPEN'])
    if(df_filter.loc[i,'Date']==end):
        print("Close as on End Date ",df_filter.loc[i,'CLOSE'])
    if(i>0):
        df_filter.loc[i,'% Change']=((df_filter.loc[i,'CHG_IN_OI']/df_filter.loc[i-1,'OPEN_INT'])*100)
print("Maximum Open Interest ",df_filter['OPEN_INT'].max())    
print("Average Open Interest ",df_filter['OPEN_INT'].mean())    
print(df_filter['% Change'])

Open as on Start Date  35203.3
Close as on End Date  35131.25
Maximum Open Interest  2425075
Average Open Interest  2389793.75
0         NaN
1    0.899748
2   -0.587611
3   -3.774641
Name: % Change, dtype: float64