In [1]:
import warnings
warnings.simplefilter(action='ignore',category=FutureWarning)

In [2]:
import pandas as pd
import numpy as np
inputt=r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(inputt)

In [3]:
from datetime import datetime
df['Month']=pd.to_datetime(df['Date/Time']).dt.month
df['Date/Time']=pd.to_datetime(df['Date/Time']).dt.date
#display(df)

In [18]:
df['Week']=pd.to_datetime(df['Date/Time']).dt.week
display(df)
df.to_csv(r'C:\Users\admin\Desktop\df.csv',index=False)

           Ticker   Date/Time     Open      Low     High    Close  Month  Week
0    DMART.EQ-NSE  2020-01-01  1849.70  1820.00  1867.00  1828.50      1     1
1    DMART.EQ-NSE  2020-01-02  1831.00  1815.00  1854.85  1824.20      1     1
2    DMART.EQ-NSE  2020-01-03  1827.00  1827.00  1853.00  1843.55      1     1
3    DMART.EQ-NSE  2020-01-06  1827.00  1780.00  1829.00  1789.90      1     2
4    DMART.EQ-NSE  2020-01-07  1805.00  1805.00  1837.50  1815.75      1     2
..            ...         ...      ...      ...      ...      ...    ...   ...
247  DMART.EQ-NSE  2020-12-24  2661.85  2604.80  2700.00  2673.10     12    52
248  DMART.EQ-NSE  2020-12-28  2685.95  2655.00  2698.95  2678.00     12    53
249  DMART.EQ-NSE  2020-12-29  2690.00  2645.00  2694.70  2665.70     12    53
250  DMART.EQ-NSE  2020-12-30  2666.20  2642.35  2725.00  2680.30     12    53
251  DMART.EQ-NSE  2020-12-31  2691.00  2670.00  2780.00  2763.60     12    53

[252 rows x 8 columns]

In [66]:
df_1 = pd.DataFrame()
df_2 = pd.DataFrame()
df_1 = df.groupby(['Week','Month'])['Open'].nth(0)
df_2 = df.groupby(['Week','Month'])['Close'].nth(-1)
df_filter = pd.concat([df_1,df_2],axis=1)
#display(df.groupby(['Week','Month'])['Open'].nth(0))
df_filter['ROC']=((df_filter['Close']/df_filter['Open'])-1)*100
display(df_filter)
display(df_filter['ROC'].sum())

               Open    Close        ROC
Week Month
1    1      1849.70  1843.55  -0.332486
2    1      1827.00  1876.95   2.733990
3    1      1925.00  1990.55   3.405195
4    1      2000.00  1948.60  -2.570000
5    1      1945.50  2133.95   9.686456
     2      2120.00  2072.05  -2.261792
6    2      2084.00  2287.20   9.750480
7    2      2287.20  2408.35   5.296870
8    2      2354.50  2462.65   4.593332
9    2      2448.80  2323.95  -5.098416
10   3      2335.00  2242.15  -3.976445
11   3      2185.00  2101.00  -3.844394
12   3      1995.95  1916.10  -4.000601
13   3      1820.30  2079.70  14.250398
14   3      2079.70  2187.50   5.183440
     4      2218.00  2066.95  -6.810189
15   4      2090.10  2392.65  14.475384
16   4      2320.00  2212.10  -4.650862
17   4      2229.95  2310.50   3.612189
18   4      2300.00  2383.65   3.636957
19   5      2310.20  2255.00  -2.389404
20   5      2280.00  2333.80   2.359649
21   5      2333.00  2398.30   2.798971
22   5      2339.00  2269.35  -2.977768
23   6      2320.10  2499.00   7.710875
24   6      2520.00  2397.80  -4.849206
25   6      2373.00  2363.15  -0.415086
26   6      2366.00  2294.40  -3.026205
27   6      2294.40  2317.15   0.991545
     7      2325.00  2290.15  -1.498925
28   7      2296.00  2322.70   1.162892
29   7      2210.05  1989.75  -9.968100
30   7      1979.90  2031.40   2.601141
31   7      2044.00  2063.45   0.951566
32   8      2068.70  2138.40   3.369266
33   8      2138.40  2178.00   1.851852
34   8      2181.00  2259.45   3.596974
35   8      2269.95  2319.40   2.178462
36   8      2298.90  2251.25  -2.072730
     9      2244.00  2251.45   0.331996
37   9      2270.00  2239.35  -1.350220
38   9      2250.00  2149.05  -4.486667
39   9      2175.00  2102.70  -3.324138
40   9      2110.90  2203.15   4.370174
     10     2210.00  2184.80  -1.140271
41   10     2192.95  2057.60  -6.172051
42   10     2072.00  1984.20  -4.237452
43   10     1969.05  2116.55   7.490922
44   10     2120.00  2239.90   5.655660
45   11     2240.00  2294.60   2.437500
46   11     2306.05  2374.15   2.953102
47   11     2374.15  2382.60   0.355917
48   11     2361.10  2289.20  -3.045191
49   12     2330.00  2441.90   4.802575
50   12     2441.90  2685.10   9.959458
51   12     2715.00  2637.05  -2.871087
52   12     2645.00  2673.10   1.062382
53   12     2685.95  2763.60   2.890970

61.1388498600648

In [65]:
table = pd.pivot_table(df_filter,values='ROC',index=['Month','Week'],columns='Month',aggfunc=np.sum)
display(table)

Month             1         2          3          4         5         6   \
Month Week
1     1    -0.332486       NaN        NaN        NaN       NaN       NaN
      2     2.733990       NaN        NaN        NaN       NaN       NaN
      3     3.405195       NaN        NaN        NaN       NaN       NaN
      4    -2.570000       NaN        NaN        NaN       NaN       NaN
      5     9.686456       NaN        NaN        NaN       NaN       NaN
2     5          NaN -2.261792        NaN        NaN       NaN       NaN
      6          NaN  9.750480        NaN        NaN       NaN       NaN
      7          NaN  5.296870        NaN        NaN       NaN       NaN
      8          NaN  4.593332        NaN        NaN       NaN       NaN
      9          NaN -5.098416        NaN        NaN       NaN       NaN
3     10         NaN       NaN  -3.976445        NaN       NaN       NaN
      11         NaN       NaN  -3.844394        NaN       NaN       NaN
      12         NaN       NaN  -4.000601        NaN       NaN       NaN
      13         NaN       NaN  14.250398        NaN       NaN       NaN
      14         NaN       NaN   5.183440        NaN       NaN       NaN
4     14         NaN       NaN        NaN  -6.810189       NaN       NaN
      15         NaN       NaN        NaN  14.475384       NaN       NaN
      16         NaN       NaN        NaN  -4.650862       NaN       NaN
      17         NaN       NaN        NaN   3.612189       NaN       NaN
      18         NaN       NaN        NaN   3.636957       NaN       NaN
5     19         NaN       NaN        NaN        NaN -2.389404       NaN
      20         NaN       NaN        NaN        NaN  2.359649       NaN
      21         NaN       NaN        NaN        NaN  2.798971       NaN
      22         NaN       NaN        NaN        NaN -2.977768       NaN
6     23         NaN       NaN        NaN        NaN       NaN  7.710875
      24         NaN       NaN        NaN        NaN       NaN -4.849206
      25         NaN       NaN        NaN        NaN       NaN -0.415086
      26         NaN       NaN        NaN        NaN       NaN -3.026205
      27         NaN       NaN        NaN        NaN       NaN  0.991545
7     27         NaN       NaN        NaN        NaN       NaN       NaN
      28         NaN       NaN        NaN        NaN       NaN       NaN
      29         NaN       NaN        NaN        NaN       NaN       NaN
      30         NaN       NaN        NaN        NaN       NaN       NaN
      31         NaN       NaN        NaN        NaN       NaN       NaN
8     32         NaN       NaN        NaN        NaN       NaN       NaN
      33         NaN       NaN        NaN        NaN       NaN       NaN
      34         NaN       NaN        NaN        NaN       NaN       NaN
      35         NaN       NaN        NaN        NaN       NaN       NaN
      36         NaN       NaN        NaN        NaN       NaN       NaN
9     36         NaN       NaN        NaN        NaN       NaN       NaN
      37         NaN       NaN        NaN        NaN       NaN       NaN
      38         NaN       NaN        NaN        NaN       NaN       NaN
      39         NaN       NaN        NaN        NaN       NaN       NaN
      40         NaN       NaN        NaN        NaN       NaN       NaN
10    40         NaN       NaN        NaN        NaN       NaN       NaN
      41         NaN       NaN        NaN        NaN       NaN       NaN
      42         NaN       NaN        NaN        NaN       NaN       NaN
      43         NaN       NaN        NaN        NaN       NaN       NaN
      44         NaN       NaN        NaN        NaN       NaN       NaN
11    45         NaN       NaN        NaN        NaN       NaN       NaN
      46         NaN       NaN        NaN        NaN       NaN       NaN
      47         NaN       NaN        NaN        NaN       NaN       NaN
      48         NaN       NaN        NaN        NaN       NaN       NaN
12    49         NaN       NaN        NaN        NaN       NaN       NaN
      50         NaN       NaN        NaN        NaN       NaN       NaN
      51         NaN       NaN        NaN        NaN       NaN       NaN
      52         NaN       NaN        NaN        NaN       NaN       NaN
      53         NaN       NaN        NaN        NaN       NaN       NaN

Month             7         8         9         10        11        12
Month Week
1     1          NaN       NaN       NaN       NaN       NaN       NaN
      2          NaN       NaN       NaN       NaN       NaN       NaN
      3          NaN       NaN       NaN       NaN       NaN       NaN
      4          NaN       NaN       NaN       NaN       NaN       NaN
      5          NaN       NaN       NaN       NaN       NaN       NaN
2     5          NaN       NaN       NaN       NaN       NaN       NaN
      6          NaN       NaN       NaN       NaN       NaN       NaN
      7          NaN       NaN       NaN       NaN       NaN       NaN
      8          NaN       NaN       NaN       NaN       NaN       NaN
      9          NaN       NaN       NaN       NaN       NaN       NaN
3     10         NaN       NaN       NaN       NaN       NaN       NaN
      11         NaN       NaN       NaN       NaN       NaN       NaN
      12         NaN       NaN       NaN       NaN       NaN       NaN
      13         NaN       NaN       NaN       NaN       NaN       NaN
      14         NaN       NaN       NaN       NaN       NaN       NaN
4     14         NaN       NaN       NaN       NaN       NaN       NaN
      15         NaN       NaN       NaN       NaN       NaN       NaN
      16         NaN       NaN       NaN       NaN       NaN       NaN
      17         NaN       NaN       NaN       NaN       NaN       NaN
      18         NaN       NaN       NaN       NaN       NaN       NaN
5     19         NaN       NaN       NaN       NaN       NaN       NaN
      20         NaN       NaN       NaN       NaN       NaN       NaN
      21         NaN       NaN       NaN       NaN       NaN       NaN
      22         NaN       NaN       NaN       NaN       NaN       NaN
6     23         NaN       NaN       NaN       NaN       NaN       NaN
      24         NaN       NaN       NaN       NaN       NaN       NaN
      25         NaN       NaN       NaN       NaN       NaN       NaN
      26         NaN       NaN       NaN       NaN       NaN       NaN
      27         NaN       NaN       NaN       NaN       NaN       NaN
7     27   -1.498925       NaN       NaN       NaN       NaN       NaN
      28    1.162892       NaN       NaN       NaN       NaN       NaN
      29   -9.968100       NaN       NaN       NaN       NaN       NaN
      30    2.601141       NaN       NaN       NaN       NaN       NaN
      31    0.951566       NaN       NaN       NaN       NaN       NaN
8     32         NaN  3.369266       NaN       NaN       NaN       NaN
      33         NaN  1.851852       NaN       NaN       NaN       NaN
      34         NaN  3.596974       NaN       NaN       NaN       NaN
      35         NaN  2.178462       NaN       NaN       NaN       NaN
      36         NaN -2.072730       NaN       NaN       NaN       NaN
9     36         NaN       NaN  0.331996       NaN       NaN       NaN
      37         NaN       NaN -1.350220       NaN       NaN       NaN
      38         NaN       NaN -4.486667       NaN       NaN       NaN
      39         NaN       NaN -3.324138       NaN       NaN       NaN
      40         NaN       NaN  4.370174       NaN       NaN       NaN
10    40         NaN       NaN       NaN -1.140271       NaN       NaN
      41         NaN       NaN       NaN -6.172051       NaN       NaN
      42         NaN       NaN       NaN -4.237452       NaN       NaN
      43         NaN       NaN       NaN  7.490922       NaN       NaN
      44         NaN       NaN       NaN  5.655660       NaN       NaN
11    45         NaN       NaN       NaN       NaN  2.437500       NaN
      46         NaN       NaN       NaN       NaN  2.953102       NaN
      47         NaN       NaN       NaN       NaN  0.355917       NaN
      48         NaN       NaN       NaN       NaN -3.045191       NaN
12    49         NaN       NaN       NaN       NaN       NaN  4.802575
      50         NaN       NaN       NaN       NaN       NaN  9.959458
      51         NaN       NaN       NaN       NaN       NaN -2.871087
      52         NaN       NaN       NaN       NaN       NaN  1.062382
      53         NaN       NaN       NaN       NaN       NaN  2.890970