Using the same Dmart csv file as used in the previous assignment, you will have to perform the following things in python:

1. Create 2 new empty Dataframes.
2. Using while loop, append only the trades where ROC < -0.5% into one dataframe and ROC>+0.5% into another dataframe
3. Calculate the total ROC of both these dataframes separately
4. Calculate the number of trades in each dataframe
5. Print Step 3 and 4

Now, using the original Dmart csv, perform the following actions
1. Using a while loop, calculate the cumulative roc of each month. So for 12 different months, you will have 12 different ROCs
2. Print ROC of each month. This could either be a list or a dataframe.

In [170]:
import warnings
warnings.simplefilter(action='ignore',category=FutureWarning)

In [171]:
import pandas as pd
inputt=r'C:\Users\admin\Desktop\Dmart.csv'
df = pd.read_csv(inputt)

In [172]:
df['ROC']=((df['Close']-df['Open'])/df['Open'])*100

In [173]:
df.loc[df['ROC']<-0.5,"Type of Trade"]='0'
df.loc[df['ROC']>0.5,"Type of Trade"]='1'

In [174]:
Winners = pd.DataFrame(columns=["Ticker","Date/Time","Open","Low","High","Close","ROC"])
Losers = pd.DataFrame(columns=["Ticker","Date/Time","Open","Low","High","Close","ROC"])

In [175]:
Winners = pd.DataFrame()
Losers = pd.DataFrame()
k=0
while(k<len(df['ROC'])):
    for i,j in df.iterrows():
        if(df.loc[i,'Type of Trade'] == '1'):
            Winners = Winners.append(df.loc[i,["Ticker","Date/Time","Open","Low","High","Close","ROC"]])
        k+=1
        if(df.loc[i,'Type of Trade']== '0'):
            Losers = Losers.append(df.loc[i,["Ticker","Date/Time","Open","Low","High","Close","ROC"]])
        k+=1

In [176]:
display(Winners)
display(Losers)

           Ticker   Date/Time    Open      Low     High    Close       ROC
2    DMART.EQ-NSE      1/3/20  1827.0  1827.00  1853.00  1843.55  0.905857
4    DMART.EQ-NSE      1/7/20  1805.0  1805.00  1837.50  1815.75  0.595568
5    DMART.EQ-NSE      1/8/20  1793.0  1785.10  1837.05  1829.05  2.010597
6    DMART.EQ-NSE      1/9/20  1850.0  1826.60  1904.00  1880.55  1.651351
9    DMART.EQ-NSE   1/14/2020  1902.0  1892.15  1940.00  1930.75  1.511567
..            ...         ...     ...      ...      ...      ...       ...
238  DMART.EQ-NSE    12/11/20  2647.0  2632.00  2715.00  2685.10  1.439365
243  DMART.EQ-NSE  12/18/2020  2574.0  2555.00  2650.00  2637.05  2.449495
244  DMART.EQ-NSE  12/21/2020  2645.0  2460.80  2715.00  2682.40  1.413989
250  DMART.EQ-NSE  12/30/2020  2666.2  2642.35  2725.00  2680.30  0.528843
251  DMART.EQ-NSE  12/31/2020  2691.0  2670.00  2780.00  2763.60  2.697882

[97 rows x 7 columns]

           Ticker   Date/Time     Open      Low     High    Close       ROC
0    DMART.EQ-NSE      1/1/20  1849.70  1820.00  1867.00  1828.50 -1.146132
3    DMART.EQ-NSE      1/6/20  1827.00  1780.00  1829.00  1789.90 -2.030651
8    DMART.EQ-NSE   1/13/2020  1925.00  1880.00  1940.15  1914.65 -0.537662
13   DMART.EQ-NSE   1/20/2020  2000.00  1927.00  2004.45  1936.65 -3.167500
14   DMART.EQ-NSE   1/21/2020  1930.00  1901.90  1959.55  1912.35 -0.914508
..            ...         ...      ...      ...      ...      ...       ...
240  DMART.EQ-NSE  12/15/2020  2672.00  2624.50  2688.90  2640.05 -1.195734
241  DMART.EQ-NSE  12/16/2020  2650.05  2605.00  2678.45  2627.05 -0.867908
242  DMART.EQ-NSE  12/17/2020  2645.00  2503.00  2650.00  2556.05 -3.362949
245  DMART.EQ-NSE  12/22/2020  2676.00  2552.25  2678.30  2625.75 -1.877803
249  DMART.EQ-NSE  12/29/2020  2690.00  2645.00  2694.70  2665.70 -0.903346

[97 rows x 7 columns]

In [177]:
print("Total number of trades where ROC > 0.5 = ",len(Winners))
print("Total number of trades where ROC < -0.5 = ",len(Losers))

Total number of trades where ROC > 0.5 =  97
Total number of trades where ROC < -0.5 =  97

In [178]:
from datetime import datetime
df['Month']=pd.to_datetime(df['Date/Time']).dt.month

In [179]:
display(df)

,Ticker,Date/Time,Open,Low,High,Close,ROC,Type of Trade,Month
0,DMART.EQ-NSE,1/1/20,1849.70,1820.00,1867.00,1828.50,-1.146132,0,1
1,DMART.EQ-NSE,1/2/20,1831.00,1815.00,1854.85,1824.20,-0.371382,NaN,1
2,DMART.EQ-NSE,1/3/20,1827.00,1827.00,1853.00,1843.55,0.905857,1,1
3,DMART.EQ-NSE,1/6/20,1827.00,1780.00,1829.00,1789.90,-2.030651,0,1
4,DMART.EQ-NSE,1/7/20,1805.00,1805.00,1837.50,1815.75,0.595568,1,1
...,...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,12/24/2020,2661.85,2604.80,2700.00,2673.10,0.422638,NaN,12
248,DMART.EQ-NSE,12/28/2020,2685.95,2655.00,2698.95,2678.00,-0.295985,NaN,12
249,DMART.EQ-NSE,12/29/2020,2690.00,2645.00,2694.70,2665.70,-0.903346,0,12
250,DMART.EQ-NSE,12/30/2020,2666.20,2642.35,2725.00,2680.30,0.528843,1,12
251,DMART.EQ-NSE,12/31/2020,2691.00,2670.00,2780.00,2763.60,2.697882,1,12

In [229]:
sum1_m=[]
k=0
month=1
while(k<len(df)):
    sum1=0
    for i,j in df.iterrows():
        if(df.loc[i,'Month'] == month):
            sum1+=df.loc[i,'ROC']
            k+=1
    month+=1
    sum1_m.append(sum1)
print(sum1_m)

[9.817377767797861, 16.809118785069263, 13.889185065235784, 5.875323958838969, -4.546393827922146, -2.8666551613169586, -11.583627158123113, 3.7278553238795755, -7.170190573027108, -1.2260502478019988, 6.225495474284402, 10.603469608435217]